.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    padding-bottom: 0px;
   
}
.logo {
    width: 150px;
}

.nav-iteams {
    padding: 0px 20px;
    margin-top: 25px;
}

.nav-iteams > ul {
    font-size: 20px;
    display: flex;
    list-style-type: none;
    
}
.nav-iteams > ul > li {
    padding: 10px;
    margin: 5px;
}
.res-container {
    display: flex;
    flex-wrap: wrap;
}

.res-card {
    margin: 5px;
    padding: 5px;
    width: 200px;
    
}
.res-card:hover {
    cursor: pointer;
    border: 1px solid black;
}
.search {
    padding: 10px;
}
.res-logo {
    width: 100%;
    height: 140px;
    
}